.hideOpacity {
	opacity: 0;
    	z-index: -1;
}
	
	
#switch{
            background: #0E0E0E;
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            font-family: "Roboto";
            display: none;
            align-items: stretch;
            font-size: 16px;
            z-index: 10000 !important;
}

#switch button {
            border: none;
            background: none;
            height: 100%;
            margin: 0;
            width: 100%;
            color: white;
            font-size: 22px;
            border-radius: none;
            outline: none;
            background-color: #4C4C4C;
            font-weight: bold;
            padding: 5% 0px !important;
}
#switch button:active{
            background:rgba(0,0,0,0.2);
}

.showAll{
	overflow:hidden;
	text-overflow:ellipsis !important;
	white-space : nowrap;
	max-width:inherit;
	padding-left:0 !important;
	padding-right:0 !important;
}

.padding-none{
            padding:0px !important;
}

.button-ctnr{
            border: 2px solid #0E0E0E;
            border-collapse: collapse !important;
            background: #0E0E0E;
            width: 33.333333% !important;
}

.custom-numeric-keyboard{
            cursor: text !important;
            background: white !important;
}

