.hideOpacity {
	opacity: 0;
    	z-index: -1;
}
	
	
#switch{
	  background: #333;
	  height: 50%;
	  width: 100vw;
	  position: fixed;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  font-family: "Roboto";
	  display: none;
	  align-items: stretch;
	  font-size: 16px;
	  z-index: 100 !important;
}
#switch button {
	border: none;
	  background: none;
	  height: 100%;
	  margin: 0;
	  width: 100%;
	  color: white;
	  font-size: 22px;
	  border-radius: none;
	  outline: none;
	  background-color: #333;
	  font-weight: bold;
}
#switch button:active{
	background:rgba(0,0,0,0.2);
}
.showAll{
	overflow:hidden;
	text-overflow:ellipsis !important;
	white-space : nowrap;
	max-width:inherit;
	padding-left:0 !important;
	padding-right:0 !important;
}

.padding-none{
	padding:0px !important;
}

.button-ctnr{
padding: 3% 0px !important;
  border: 2px solid #000;
  border-collapse: collapse !important;
}
