.hideOpacity {
	opacity: 0;
    	z-index: -1;
}
	
	
#switch{
	  background: black;
	  height: 193px;
	  width: 100vw;
	  position: fixed;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  font-family: "Roboto";
	  display: none;
	  align-items: stretch;
	  font-size: 16px;
	  z-index: 100 !important;
}
#switch button {
	border:1px solid #000;
	background:none;
	height:100%;
	margin:0;
	width:100%;
	color:white;
	font-size:22px;
	border-radius:none;
	outline:none;
	background-color: #333;
}
#switch button:active{
	background:rgba(0,0,0,0.2);
}
.showAll{
	overflow:hidden;
	text-overflow:ellipsis !important;
	white-space : nowrap;
	max-width:inherit;
	padding-left:0 !important;
	padding-right:0 !important;
}

.padding-none{
	padding:0px !important;
}
